# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#OBDH output files
obdh/obdh_v1/Debug/*
obdh/obdh_v2/Debug/*
obdh/obdh_v1/.settings/org.eclipse.core.resources.prefs
obdh/obdh_v2/.settings/org.eclipse.core.resources.prefs
obdh/obdh_v1/.launches/obdh.launch
obdh/obdh_v2/.launches/obdh.launch
beacon/Debug/*
beacon/.launches/beacon.launch

*.dump.txt
*.frames.txt
